<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RegionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06B7150E1BDE4F6C002F258E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B715221BDE4F6C002F258E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B7152D1BDE4F6C002F258E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
